@import "../variable.scss";
@import "../components/button.scss";

// Our benefits
.our-benefits {
    margin-top: 11.563rem;
    @media (max-width: 1262px) {
        padding: 0 15px;
    }
    h4 {
        text-align: center;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $createxTitle;
        margin-bottom: 0.5rem;
    }

    &-title {
        text-align: center;

        h2 {
            font-weight: 900;
            font-size: 46px;
            color: $createxTitle;
        }
    }

    &__info-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 3.75rem 0;

        img {
            margin-right: 0.5rem;
        }

        span {
            font-weight: 700;
            color: #9A9CA5;
            margin-right: 8.875rem;
            cursor: pointer;

            @media (max-width: 1180px) {
                font-size: 14px;
            }

            @media (max-width: 967px) {
                margin-right: 70px;
            }
        }

        .active {
            display: flex;
            align-items: center;
            border: 1px solid #FF3F3A;
            border-radius: 4px;
            padding: 10px 73px;
            margin-right: 4.375rem;

            @media (max-width: 1120px) {
                padding: 10px 35px;
            }

            @media (max-width: 1050px) {
                padding: 10px 15px;
            }

            @media (max-width: 978px) {
                padding: 10px 5px;
            }

            @media (max-width: 967px) {
                margin-right: 65px;
            }

            span {
                color: #FF3F3A;

                @media (max-width: 1180px) {
                    font-size: 14px;
                }
            }
        }

        img:first-child {
            color: #FF3F3A;
        }

        span:last-child {
            margin-right: 0;
        }
    }

    &__block {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__left {
            margin-right: 8.438rem;

            h3 {
                font-weight: 900;
                font-size: 32px;
                color: $createxTitle;
                margin-bottom: 1.5rem;

                @media (max-width: 970px) {
                    font-size: 28px;
                }

                @media (max-width: 820px) {
                    font-size: 24px;
                }
            }

            span {
                display: inline-block;
                font-weight: 400;
                color: $mainColor;
                max-width: 30.438rem;

                @media (max-width: 820px) {
                    font-size: 15px;
                }
            }
        }

        &__right {
            img {
                @media (max-width: 1105px) {
                    width: 500px;
                }

                @media (max-width: 1019px) {
                    width: 450px;
                }

                @media (max-width: 955px) {
                    width: 400px;
                }

                @media (max-width: 870px) {
                    width: 350px;
                }
            }
        }
    }
}
