@import "../variable.scss";
@import "../components/button.scss";

// .bg2 {
//     background: #F4F5F7;

// }

// .team {
//     padding-top: 10.375rem;

//     &-header {

//         h4 {
//             font-weight: 700;
//             font-size: 16px;
//             line-height: 150%;
//             letter-spacing: 1px;
//             text-transform: uppercase;
//             color: #1E212C;
//         }

//         h2 {
//             font-weight: 900;
//             font-size: 46px;
//             line-height: 130%;
//             color: #1E212C;
//         }

//     }

//     &-people {
//         animation: slide 5s;
//         margin-top: 60px;
//         display: flex;
//         justify-content: space-between;
//     }
// }

.team {
  padding-top: 120px;
  background: #f4f5f7;
  padding-bottom: 180px;

  &-info {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h4 {
      font-weight: 700;
      font-size: 16px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #1e212c;
    }

    h2 {
      font-weight: 900;
      font-size: 46px;
      color: #1e212c;
      margin: 8px 0 60px 0;
    }

    .controllers {
      position: relative;
      display: flex;
      justify-content: flex-end;
      .next {
        color: $createxTitle;
        font-size: 40px;
        width: 48px;
        height: 48px;
        line-height: 0;
        text-align: center;
        border-radius: 50%;
        transition: all 0.7s;
        right: 40px;
        &::after {
          content: "";
        }
        &:hover {
          background: #ff3f3a;
          color: white;
        }
      }
      .prev {
        color: $createxTitle;
        font-size: 40px;
        width: 48px;
        height: 48px;
        text-align: center;
        border-radius: 50%;
        transition: all 0.7s;

        left: -38px !important;
        &::after {
          content: "";
        }
        &:hover {
          background: #ff3f3a;
          color: white;
        }
      }
    }
  }

  .swiper {
    .swiper-wrapper {
      .swiper-slide {
        width: 285px !important;
        &-img {
          cursor: pointer;
          background: #ffcf2d;
          background-image: url("../../../public/assets/images/jpg/team-1.png");
          background-repeat: no-repeat;
          background-position: bottom;
          background-size: 90%;
          border-radius: 4px;
          height: 416px;
        }
        &-footer {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          p {
            font-weight: 700;
            font-size: 20px;
            color: #424551;
            margin: 20px 0 16px 0;
          }
          span {
            font-weight: 400;
            font-size: 16px;
            color: #787a80;
          }
        }
      }
    }
  }
}
