@import "../components/button.scss";
@import '../variable.scss';

.our_events {
    margin-top: 115px;
    padding-top: 80px;
    h4 {
        text-align: center;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $createxTitle;
        margin-bottom: 8px;
    }
    &-title {
        h2 {
            text-align: center;
            font-weight: 900;
            font-size: 46px;
            color: $createxTitle;

            margin-bottom: 60px;
        }
    }
    &__block {
        display: inline-flex;
        align-items: center;
        flex-direction: column;
        gap: 24px;

        &-1 {
            width: 1230px;
            width: 100%;
            height: 126px;
            background-color: #FFFFFF;
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 40px;

            transition: .4s linear;
            &:hover {
                box-shadow: 0px 80px 80px -20px rgba(255, 63, 58, 0.16), 0px 30px 24px -10px rgba(255, 63, 58, 0.1), 0px 12px 10px -6px rgba(255, 63, 58, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
                transform: scale(1.01);
            }
            &__date {
                display: flex;
                align-items: center;

                h3 {
                    font-weight: 900;
                    font-size: 48px;
                    color: $redMain;
                    margin-right: 20px;
                }

                &__mt {
                    margin-right: 40px;
                    p {
                        font-weight: 700;
                        font-size: 20px;
                        color: $createxTitle;
                        margin-bottom: 4px;
                    }
                    date {
                        font-weight: 400;
                        color: #787A80;
                    }
                }
            }

            &__mas-c {
                display: flex;
                flex-direction: column;
                margin-right: 40px;
                p {
                    font-weight: 700;
                    font-size: 20px;
                    color: $createxTitle;

                    @media (max-width:1213px) {
                        font-size: 16px;
                    }
                }
                .p-l {
                    margin-right: 246px;
                }
                span {
                    font-weight: 400;
                    color: #787A80;
                }        
            }
            &__btn {
                border: 1px solid #ff3f3a;
                border-radius: 4px;
                cursor: pointer;

                p {
                    font-size: 14px;
                    color: #ff3f3a;
                    padding: 11px 32px;

                    @media (max-width:1305px) {
                        padding: 11px 16px;
                        font-size: 12px;
                    }
                    @media (max-width:1226px) {
                        padding: 11px 11px;
                        font-size: 12px;
                    }
                }
            }
            &__btn:hover {
                background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
                p {
                    color: #FFFFFF;
                }
            }
        }
        &__all-events {
            display: flex;
            align-items: center;
            margin-top: 65px;
            gap: 40px;
            margin-bottom: 80px;
            p {
                font-weight: 700;
                font-size: 28px;
                color: $createxTitle;
            }
            button {
                color: white;
            }
        }
    }
}
