// Container width
$width: 1230px;

// Font size
$mainSize: 16px;
$mainBg: #feddd0;
$btn: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
$mainFont: "Lato", sans-serif;
$mainColor: #424551;
$textColor: #fff;
$white: #1e212c;
$createxTitle: #1e212c;
$secondColorBtn: #F75E05;
$marketing: #03CEA4;
$hr: #F89828;
$mg: #5A87FC;
$ds: #F52F6E;
$redMain: #FF3F3A;